node_modules
client/node_modules
client/build
client/public
.env
uploads
.idea/Fastify_starter.iml
.idea/modules.xml
.idea/vcs.xml

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
